<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <p>Hi <span class="text-danger"><%= first_name %></span>,</p>
            <p>welcome to <b>nodelog</b>, <em>realtime web analytics</em></p>
            <p>Your account is now active</p>
            <p>Remember your username is <span class="label label-info"><%= username %></span></p>
            <p>You can start to monitoring your websites accessing to your <a href='http://nodelogapp.herokuapp.com/#!<%= lang %>/login'>reserved area</a></p>
            <p></p>
            <p>Thank You</p>
            <p class='text-muted'>nodelog team | nodelogapp.herokuapp.com | ademarchi74@pensando.it</p>
        </div>            
    </div>
</div>