<div class="container">
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <p>Ciao <span class="text-danger"><%= first_name %></span>,</p>
            <p>Hai chiesto di effettuare un reset password su nodelog.</p>
            <p>Questa è la tua nuova password <span class="label label-danger"><%= clean_password %></span><p>
            <p>Ricorda che il tuo username è <span class="label label-info"><%= username %></span></p>
            <p>Ti consigliamo di accedere subito al sistema e cambiarla</p>
            <p></p>
            <p>Grazie</p>
            <p class='text-muted'>nodelog team | nodelogapp.herokuapp.com/ | ademarchi74@gmail.com</p>
        </div>            
    </div>
</div>