<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nodelog" />
    <meta name="description" content="nodelog, track your website access" />
    <meta name="author" content="Alessandro De Marchi - ademarchi74@gmail.com" />
    <link href="../css/ext/bootstrap.min.css" rel="stylesheet">
    <link href="../css/app/style.css" rel="stylesheet">
    <title>nodelog</title>

</head>

<body>
    
    <div id="wrap">
        
        <!-- navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">nodelog</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Your Website</li>
                                <li><a href="http://nodelog-c9-etrusco.c9.io/clientid/pensandoit">pensando.it - c9</a></li>
                                <li><a href="http://nodelog-c9-etrusco.c9.io/clientid/analogicait">analogica.it - c9</a></li>
                                <li><a href="http://nodelogapp.herokuapp.com/clientid/pensandoit">pensando.it - heroku</a></li>
                                <li><a href="http://nodelogapp.herokuapp.com/clientid/analogicait">analogica.it - heroku</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">View History</li>
                                <li><a href="#">history data</a></li>
                                <li><a href="#">best page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        
        <!-- content -->
        <div class="container">
            <h3>connection</h3>
            <p>connected to <span id='con' class="text-danger"></span> - day : <span id='day' class="text-danger"></span> - page view : <span id='pageView' class="text-danger">0</span> - unique access : <span id='uniqueAccess' class="text-danger">0</span></p>
            <h3>realtime log</h3>
            <ul id='log' class="list-unstyled"></ul>  
        </div>
        
        <div id="push"></div>
    
    </div>    
    
    <!-- footer -->
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Designed and built with all the love in the world by <a href="http://www.pensando.it/wp/index.php/chi-sono" target="_blank">@etrusco</a></p>
            <p class="text-muted credit"><a href="mailto:ademarchi74@hotmail.com">Contact</a> | <a href="http://www.pensando.it" target="_blank">pensando.it</a> | <a href="#" target="_blank">Privacy Policy</a> | <a href="#">Credits</a></p>
        </div>
    </div>
    
    <!-- all javascript library include
    ================================================== -->

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/ext/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() { 
            
            var name = '<%= client_id%>';
            
            var socket = io.connect(window.location.hostname);
    
            socket.on('connect', function () {
                socket.emit('identify', name);
                $("#log").prepend('<li><br>Connected to <b>' + name + '</b></li>');
                $("#con").text(name);
            });
    
            socket.on('message', function (msg) {
                $("#log").prepend('<li><small><span class="glyphicon glyphicon-hand-right"></span> ' + JSON.stringify(msg) + '</small></li>');
                $('#log li:first').hide().fadeIn(2000);
            });
            
            socket.on('num', function (msg) {
                $("#day").text(msg.day);
                $("#pageView").hide().text(msg.pageView).fadeIn(1000);
                var ua = $("#uniqueAccess").val();
                if (ua != msg.uniqueAccess) $("#uniqueAccess").hide().text(msg.uniqueAccess).fadeIn(1000);
            });
    
        });
    </script>
</body>
</html>