    </div>    
    
    <!-- footer -->
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Designed and built with all the love in the world by <a href="http://www.pensando.it/wp/index.php/chi-sono" target="_blank">@etrusco</a></p>
            <p class="text-muted credit"><a href="mailto:ademarchi74@hotmail.com">Contact</a> | <a href="http://www.pensando.it" target="_blank">pensando.it</a> | <a href="#" target="_blank">Privacy Policy</a> | <a href="#">Credits</a></p>
        </div>
    </div>
    
</body>
</html>